/* Backgroung Heading */

#header {
    background-color: white;
}

.background {
    background-image: url("../images/hero-bg.jpg");
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    min-height: 500px;
    width: auto;
}

.jumbotron {
    background-color: transparent;
    padding-top: 130px;
}

.display-4 {
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
    margin-top: 30px;
}

.para {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}

.jumbotron a {
    border-radius: 50px;
    margin: 20px 0px;
    padding: 8px 35px;
}


/* Cards */

.card {
    background-color: #1977cc;
    border-radius: 4px;
    margin: 20px 0px;
}

.card-title {
    padding: 10px 18px;
    font-size: 35px;
    color: #fff;
}

.card-text {
    padding: 0px 18px;
    font-size: 17px;
    color: #fff;
}

.card-body a {
    border-radius: 50px;
    margin: 20px 0px;
    padding: 8px 25px;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
}

.card-body a:hover {
    background-color: white;
    color: #1977cc;
    transition: all ease-in-out 0.3s;
}

.text-center {
    text-align: center!important;
}


/* Card Small */

.card-small {
    border-radius: 4px;
    position: relative;
    top: 60px;
    box-shadow: 5px 5px 15px 2px #888888;
}

.card-small i {
    padding: 30px 0px;
    font-size: 30px;
    color: blue;
}

.card-title-s {
    padding: 0px 18px 20px 18px;
    font-size: 22px;
}

.card-text-s {
    padding: 0px 18px 40px 18px;
    font-size: 16px;
    color: grey;
}

.image img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.icons h2 {
    font-size: 27px;
    margin-top: 50px;
}

.icons-p1 {
    font-size: 17px;
    color: grey;
    text-align: justify;
    padding-bottom: 25px;
}

.icons i {
    float: left;
    color: blue;
    padding: 27px 25px 47px 10px;
    font-size: 25px;
}

.icons h4 {
    font-size: 20px;
}

.icons-p2 {
    font-size: 15px;
    color: grey;
    text-align: justify;
    margin-bottom: 30px;
    margin-left: 60px;
}

.width {
    max-width: 12%;
}

.count-section {
    background: #f1f7fd;
    padding: 50px 0px 70px 0px;
    position: relative;
    top: 70px;
    margin-bottom: 50px;
}

.count {
    background: #fff;
}

.count i {
    position: relative;
    top: -22px;
    font-size: 22px;
    background: #1977cc;
    padding: 12px;
    border-radius: 50px;
    color: #fff;
}


/* 
    Services
*/

.services {
    padding: 60px 0px;
}

.service-title {
    text-align: center;
}

.service-title h2 {
    font-weight: bold;
}

.service-title p {
    color: grey;
}

.service-card {
    padding: 80px 25px;
    box-shadow: 5px 5px 15px #888888;
    min-height: 380px;
}

.service-card:hover {
    background: #1977cc;
    transition: all ease-in-out 0.3s;
}

.service-card:hover .fa-book {
    background: #fff;
    color: #1977cc;
}

.service-card:hover .service-card-heading {
    color: #fff;
    cursor: pointer;
}

.service-card:hover .service-card-para {
    color: #fff;
}

.service-card i {
    font-size: 24px;
    color: #fff;
    background: #1977cc;
    padding: 22px 22px;
    border-radius: 4px;
}

.service-card h2 {
    font-size: 27px;
}

.service-card p {
    font-size: 15px;
    color: grey;
}


/*
    Appointment
*/

#appointment {
    padding: 40px;
    background: #f1f7fd;
}

.appointment-title {
    text-align: center;
}

.appointment-title h2 {
    font-weight: bold;
}

.appointment-title p {
    color: grey;
}

.form-group input {
    margin: 12px 0px;
}

.form-group select {
    margin: 12px 0px;
}


/* 
    Departments
*/

.departments {
    padding: 60px 0px;
}

.department-title {
    text-align: center;
}

.deapartment-title h2 {
    font-weight: bold;
}

.department-title p {
    color: grey;
}

.departments li {
    list-style-type: none;
    padding: 8px 10px;
}

.departments a {
    text-decoration: none;
    color: #5f5a5a;
    font-size: 18px;
    font-weight: 500;
}

.dep-title h3 {
    font-size: 25px;
    font-weight: 500;
    color: #3a3131;
    margin: 15px 15px 15px 0px
}


/* 
    Doctors Section
*/

.doc-title {
    text-align: center;
}

.doc-title h2 {
    font-weight: 500;
}

.doc-title p {
    color: grey;
}

.doctors-detail {
    box-shadow: 5px 5px 15px #ccc9c9;
    padding: 20px;
    margin: 20px 0px;
}

.doctor-img {
    height: 180px;
    width: 140px;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

.doctor-img img {
    border-radius: 70px;
}

.doc-icons i {
    background-color: #a0bcd5;
    color: white;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 9px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.doctors-detail h5 {
    font-weight: 700;
    margin-top: 10px;
}

.doctors-detail p {
    color: grey;
}


/*

FAQs

*/

#FAQ {
    background-color: #f1f7fd;
    margin-top: 40px;
}

.faq-title {
    text-align: center;
    margin-top: 30px;
}

.faq-title h2 {
    font-weight: 500;
}

.faq-title p {
    color: grey;
}

.faq-section {
    width: 100%;
}

.faq-section ul {
    padding: 25px;
}

.faq-ul li {
    list-style-type: none;
    background-color: white;
    height: auto;
    margin: 15px 0px;
    padding: 20px;
    box-shadow: 5px 5px 15px #ccc9c9;
}

.faq-ul a {
    color: #343a40;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.faq-ul p {
    color: grey;
    padding-top: 5px;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    background: white;
}


/* Slides */

.mySlides {
    display: none;
    padding: 80px;
}


/* The dot/bullet/indicator container */

.dot-container {
    text-align: center;
    padding: 20px;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active1,
.dot:hover {
    background-color: #1977cc !important;
}

.testimonials {
    width: 100%;
}

.testimonial-img {
    height: 180px;
    width: 140px;
    float: left;
    margin-right: 20px;
}


/* 
    Gallery
*/

.gallery-title {
    text-align: center;
    margin-top: 50px;
}

.gallery-title h2 {
    font-weight: 500;
}

.gallery-title p {
    color: grey;
}

.gallery-img {
    padding: 7px;
    transition: transform .2s;
}

.gallery-img:hover {
    -ms-transform: scale(1.08);
    /* IE 9 */
    -webkit-transform: scale(1.08);
    /* Safari 3-8 */
    transform: scale(1.08);
}


/* 
    Contact
*/

.contact-title {
    text-align: center;
    margin-top: 50px;
}

.contact-title h2 {
    font-weight: 500;
}

.contact-title p {
    color: grey;
}

.contact-icon i {
    float: left;
    color: blue;
    padding: 10px 20px 10px 10px;
    font-size: 25px;
}

.contact-icon p {
    color: blue;
}

.form-control1 {
    display: inline-block;
    width: 49.5%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}